.anonymous-login {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anonymous-login__input {
  appearance: none;
  text-align: center;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 2px 2px #adadad;
  margin: 0;
  width: 100%;
}

.anonymous-login__btn {
  margin: 10px;
  cursor: pointer;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 2px inset;
  background: cadetblue;
  border-radius: 10px;
  font-size: large;
  color: white;
  transition: background .5s;
}

.anonymous-login__btn:not([disabled]):hover {
  background: #1bce92;
}

.anonymous-login__btn--disabled {
  background: #d2d2d2;
}
